<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!--<add key="ServiceEndpoints:Users" value="http://universityiotusersservice.azurewebsites.net"/>
  <add key="ServiceEndpoints:Gateways" value="http://universityiotgatewaysservice.azurewebsites.net/"/>-->
  <add key="ServiceEndpoints:Users" value="http://localhost:50730/"/>
  <add key="ServiceEndpoints:Gateways" value="http://localhost:50732/"/>
  <add key="ServiceEndpoints:Kolibri" value="http://localhost:61851/"/>
</appSettings>