<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ServiceEndpoints:Users" value="http://localhost:50730/"/>
  <add key="ServiceEndpoints:Gateways" value="http://localhost:50732/"/>
  <add key="ServiceEndpoints:Username" value="apiMaster"/>
  <add key="ServiceEndpoints:Password" value="1234"/>
</appSettings>