body {
  font-family: Arial, Helvetica, sans-serif; }

.container {
  margin: 0 auto;
  width: 980px;
  position: relative; }
  .container.login-container {
    min-height: 550px; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.logo {
  position: relative; }
  .logo img {
    height: 70px; }
  .logo h1 {
    position: absolute;
    top: 30px;
    left: 180px; }

.input-group {
  display: block; }
  .input-group input {
    border: none;
    background: none;
    width: 100%;
    margin: 10px 0 20px;
    border-bottom: 2px dotted gray;
    font-size: 16px; }
    .input-group input:focus {
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
      margin: 20px 0 20px; }

footer {
  position: fixed;
  bottom: 0;
  height: 90px;
  background: #333;
  display: block;
  width: 100%; }
  footer p {
    padding: 20px 0;
    color: #cacaca;
    font-size: 16px; }
