// Colors


//Text
$text-on-dark: #ffffff;
$text-on-light: #333333;
$text-grey: #A2A2A2;
$color-blue: #126BD3;
$color-blue-light: #679EE1;
$color-social-icon: #D9DFEB;
$color-blue-social-back: #54A0FE;
$color-border-blue: #E8F0FB;
$color-red: #E62117;
$viessmann-color: #EE2D24;


//Backgrounds

$back-color-nav: #35438E;
$gray-bcg: #DEDEDE;
$back-dark: #222222;
$footer-top: #555555;
$footer-bottom: #333333;


//Borders

$border-footer: #777;