<div ng-controller="loginController" class="container login-container">
    
    <form ng-submit="login($event)" action="#/temperature" class="login center">
        <div class="input-group">
            <label for="login">Login</label>
            <input ng-model="userName" id="login" type="text" name="login">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input ng-model="password" id="password" type="password" name="password">
        </div>

        <input type="submit" class="button" value="Login">
    </form>
</div>